-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: nexora
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `nexora`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `nexora` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `nexora`;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `created_at` datetime(6) DEFAULT NULL,
  `entity_id` bigint NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `entity_type` varchar(50) NOT NULL,
  `action` varchar(100) NOT NULL,
  `new_value` longtext,
  `old_value` longtext,
  PRIMARY KEY (`id`),
  KEY `FKjs4iimve3y0xssbtve5ysyef0` (`user_id`),
  CONSTRAINT `FKjs4iimve3y0xssbtve5ysyef0` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dividends`
--

DROP TABLE IF EXISTS `dividends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dividends` (
  `announcement_date` date NOT NULL,
  `dividend_per_share` decimal(10,2) NOT NULL,
  `payment_date` date NOT NULL,
  `total_amount` decimal(15,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `startup_id` bigint NOT NULL,
  `status` enum('ANNOUNCED','CANCELLED','PAID') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7mwdu1xwvwsmi2uhip94khopv` (`startup_id`),
  CONSTRAINT `FK7mwdu1xwvwsmi2uhip94khopv` FOREIGN KEY (`startup_id`) REFERENCES `startups` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dividends`
--

LOCK TABLES `dividends` WRITE;
/*!40000 ALTER TABLE `dividends` DISABLE KEYS */;
INSERT INTO `dividends` VALUES ('2025-12-10',5.00,'2026-01-09',7500000.00,'2026-03-09 21:10:03.242954',1,1,'PAID'),('2026-01-24',2.50,'2026-02-08',5000000.00,'2026-03-09 21:10:03.247513',2,3,'PAID');
/*!40000 ALTER TABLE `dividends` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holdings`
--

DROP TABLE IF EXISTS `holdings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `holdings` (
  `average_cost` decimal(10,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `stock_id` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpxokddbqph1g9f93i1e6lh1dg` (`user_id`,`stock_id`),
  KEY `FKexv76mi0ltx4418sttrvvair0` (`stock_id`),
  CONSTRAINT `FKexv76mi0ltx4418sttrvvair0` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`),
  CONSTRAINT `FKo0m56qvi5yyl5ikolvm7ih20o` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holdings`
--

LOCK TABLES `holdings` WRITE;
/*!40000 ALTER TABLE `holdings` DISABLE KEYS */;
/*!40000 ALTER TABLE `holdings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ipo_applications`
--

DROP TABLE IF EXISTS `ipo_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ipo_applications` (
  `amount` decimal(15,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ipo_id` bigint NOT NULL,
  `shares_allotted` bigint DEFAULT NULL,
  `shares_applied` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `status` enum('ALLOTTED','PENDING','REJECTED') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKe6cecxgg2fi3scp2s80au46w8` (`ipo_id`,`user_id`),
  KEY `FK6yr6i5l7gp724a6ogguwrmjan` (`user_id`),
  CONSTRAINT `FK6yr6i5l7gp724a6ogguwrmjan` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKdnnuurji7s1ykqlssqywf49xa` FOREIGN KEY (`ipo_id`) REFERENCES `ipo_listings` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ipo_applications`
--

LOCK TABLES `ipo_applications` WRITE;
/*!40000 ALTER TABLE `ipo_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `ipo_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ipo_listings`
--

DROP TABLE IF EXISTS `ipo_listings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ipo_listings` (
  `close_date` date NOT NULL,
  `ipo_price` decimal(10,2) NOT NULL,
  `max_price` decimal(10,2) NOT NULL,
  `min_price` decimal(10,2) NOT NULL,
  `open_date` date NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `shares_offered` bigint NOT NULL,
  `stock_id` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `status` enum('CLOSED','LISTED','OPEN','UPCOMING') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK2xv0qgau2dpgep23cgchl6c0f` (`stock_id`),
  CONSTRAINT `FKcf3nxev042xstejvxdon3r58e` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ipo_listings`
--

LOCK TABLES `ipo_listings` WRITE;
/*!40000 ALTER TABLE `ipo_listings` DISABLE KEYS */;
INSERT INTO `ipo_listings` VALUES ('2026-02-13',200.00,210.00,190.00,'2026-02-08','2026-03-09 21:10:03.234268',1,500000,1,'2026-03-09 21:10:03.234268','LISTED'),('2026-03-25',280.00,300.00,260.00,'2026-03-15','2026-03-09 21:10:03.240715',2,800000,5,'2026-03-11 20:15:03.901138','LISTED');
/*!40000 ALTER TABLE `ipo_listings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `is_read` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `message` longtext NOT NULL,
  `title` varchar(255) NOT NULL,
  `type` enum('ALERT','DIVIDEND','SYSTEM','TRADE') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK9y21adhxn0ayjhfocscqox7bh` (`user_id`),
  CONSTRAINT `FK9y21adhxn0ayjhfocscqox7bh` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `price` decimal(10,2) NOT NULL,
  `total_value` decimal(15,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `executed_at` datetime(6) DEFAULT NULL,
  `filled_quantity` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `stock_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `order_type` enum('BUY','SELL') NOT NULL,
  `price_type` enum('LIMIT','MARKET') NOT NULL,
  `status` enum('CANCELLED','EXECUTED','PARTIALLY_FILLED','PENDING') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4jg39ja0rjvjyydibgtbp8b6b` (`stock_id`),
  KEY `FK32ql8ubntj5uh44ph9659tiih` (`user_id`),
  CONSTRAINT `FK32ql8ubntj5uh44ph9659tiih` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK4jg39ja0rjvjyydibgtbp8b6b` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_history`
--

DROP TABLE IF EXISTS `price_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_history` (
  `close_price` decimal(10,2) NOT NULL,
  `date` date NOT NULL,
  `high_price` decimal(10,2) NOT NULL,
  `low_price` decimal(10,2) NOT NULL,
  `open_price` decimal(10,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stock_id` bigint NOT NULL,
  `volume` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8c2hyk3kjj81afsc3biv7db3f` (`stock_id`,`date`),
  CONSTRAINT `FKgmyyrcu9devi4xm2oa533lcm1` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=367 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_history`
--

LOCK TABLES `price_history` WRITE;
/*!40000 ALTER TABLE `price_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `startups`
--

DROP TABLE IF EXISTS `startups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `startups` (
  `employee_count` int DEFAULT NULL,
  `founded_date` date DEFAULT NULL,
  `revenue` decimal(15,2) DEFAULT NULL,
  `valuation` decimal(15,2) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `founder_id` bigint NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `industry` varchar(50) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `description` longtext,
  `stage` enum('GROWTH','SEED','SERIES_A','SERIES_B') DEFAULT NULL,
  `status` enum('ACTIVE','DELISTED','INACTIVE') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKe2j7pts8cm0223w9pmqg6o0pj` (`name`),
  KEY `FKpvsm0wjj3kuk4b3n1il42gcwy` (`founder_id`),
  CONSTRAINT `FKpvsm0wjj3kuk4b3n1il42gcwy` FOREIGN KEY (`founder_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `startups`
--

LOCK TABLES `startups` WRITE;
/*!40000 ALTER TABLE `startups` DISABLE KEYS */;
/*!40000 ALTER TABLE `startups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `current_price` decimal(10,2) NOT NULL,
  `day_high` decimal(10,2) DEFAULT NULL,
  `day_low` decimal(10,2) DEFAULT NULL,
  `year_high` decimal(10,2) DEFAULT NULL,
  `year_low` decimal(10,2) DEFAULT NULL,
  `circulating_shares` bigint NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `day_volume` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `startup_id` bigint NOT NULL,
  `total_shares` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `symbol` varchar(10) NOT NULL,
  `status` enum('ACTIVE','HALTED','INACTIVE') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKffmnuh1m2k0vlook0m9cw4yeh` (`startup_id`),
  UNIQUE KEY `UK2oaank9l88k0ipjw48ua6fcty` (`symbol`),
  CONSTRAINT `FKalp1omvhleme785td06636lh0` FOREIGN KEY (`startup_id`) REFERENCES `startups` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stop_loss_orders`
--

DROP TABLE IF EXISTS `stop_loss_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stop_loss_orders` (
  `trigger_price` decimal(10,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `stock_id` bigint NOT NULL,
  `triggered_at` datetime(6) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `status` enum('CANCELLED','PENDING','TRIGGERED') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkvcw2c753fn2k8m63et50bwfu` (`stock_id`),
  KEY `FKdya5h3o58jg2i97qfrvxti4tt` (`user_id`),
  CONSTRAINT `FKdya5h3o58jg2i97qfrvxti4tt` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKkvcw2c753fn2k8m63et50bwfu` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stop_loss_orders`
--

LOCK TABLES `stop_loss_orders` WRITE;
/*!40000 ALTER TABLE `stop_loss_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `stop_loss_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_tickets`
--

DROP TABLE IF EXISTS `support_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_tickets` (
  `assigned_to` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `category` varchar(50) NOT NULL,
  `description` longtext NOT NULL,
  `subject` varchar(255) NOT NULL,
  `priority` enum('HIGH','LOW','MEDIUM') DEFAULT NULL,
  `status` enum('CLOSED','IN_PROGRESS','OPEN','RESOLVED') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK8dtobc1tqyif0xuv09uty3eht` (`assigned_to`),
  KEY `FK4reg1h2465c00bg6dmqlv7ujv` (`user_id`),
  CONSTRAINT `FK4reg1h2465c00bg6dmqlv7ujv` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK8dtobc1tqyif0xuv09uty3eht` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_tickets`
--

LOCK TABLES `support_tickets` WRITE;
/*!40000 ALTER TABLE `support_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trades`
--

DROP TABLE IF EXISTS `trades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trades` (
  `price` decimal(10,2) NOT NULL,
  `total_value` decimal(15,2) NOT NULL,
  `buy_order_id` bigint DEFAULT NULL,
  `buyer_id` bigint NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` bigint NOT NULL,
  `sell_order_id` bigint DEFAULT NULL,
  `seller_id` bigint NOT NULL,
  `settled_at` datetime(6) DEFAULT NULL,
  `stock_id` bigint NOT NULL,
  `status` enum('EXECUTED','SETTLED') DEFAULT NULL,
  `trade_type` enum('LIMIT','MARKET') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKl71ijfuqfnp64ug4ehbwp0kqf` (`buy_order_id`),
  KEY `FK8orw9yr9stiy1ip3yovrw1nj2` (`buyer_id`),
  KEY `FKha2ij91oxit1wewyag8ol2ut6` (`sell_order_id`),
  KEY `FKtkd76bhltrlw7pinkfmfjtstj` (`seller_id`),
  KEY `FKfuksmel27vbwgad4pn624bfeg` (`stock_id`),
  CONSTRAINT `FK8orw9yr9stiy1ip3yovrw1nj2` FOREIGN KEY (`buyer_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKfuksmel27vbwgad4pn624bfeg` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`),
  CONSTRAINT `FKha2ij91oxit1wewyag8ol2ut6` FOREIGN KEY (`sell_order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `FKl71ijfuqfnp64ug4ehbwp0kqf` FOREIGN KEY (`buy_order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `FKtkd76bhltrlw7pinkfmfjtstj` FOREIGN KEY (`seller_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=539 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trades`
--

LOCK TABLES `trades` WRITE;
/*!40000 ALTER TABLE `trades` DISABLE KEYS */;
/*!40000 ALTER TABLE `trades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `amount` decimal(15,2) NOT NULL,
  `balance_after` decimal(15,2) NOT NULL,
  `balance_before` decimal(15,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `wallet_id` bigint NOT NULL,
  `reference_id` varchar(100) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `status` enum('COMPLETED','FAILED','PENDING') DEFAULT NULL,
  `transaction_type` enum('DEPOSIT','DIVIDEND','FEE','TRADE_BUY','TRADE_SELL','WITHDRAWAL') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK23bop5lktue0o5q7kr19ti8h` (`wallet_id`),
  CONSTRAINT `FK23bop5lktue0o5q7kr19ti8h` FOREIGN KEY (`wallet_id`) REFERENCES `wallets` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=166 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `kyc_approved_date` date DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `aadhaar_number` varchar(20) DEFAULT NULL,
  `pan_number` varchar(20) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `username` varchar(100) NOT NULL,
  `address_proof` varchar(255) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `kyc_status` enum('APPROVED','PENDING','REJECTED') NOT NULL,
  `status` enum('ACTIVE','INACTIVE','SUSPENDED') NOT NULL,
  `user_type` enum('ADMIN','INVESTOR','STARTUP_FOUNDER') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=222 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wallets`
--

DROP TABLE IF EXISTS `wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallets` (
  `balance` decimal(15,2) NOT NULL,
  `currency` varchar(3) DEFAULT NULL,
  `reserved_balance` decimal(15,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKsswfdl9fq40xlkove1y5kc7kv` (`user_id`),
  CONSTRAINT `FKc1foyisidw7wqqrkamafuwn4e` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wallets`
--

LOCK TABLES `wallets` WRITE;
/*!40000 ALTER TABLE `wallets` DISABLE KEYS */;
/*!40000 ALTER TABLE `wallets` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-14  0:01:47
